.g-home {
  width: 100vw;
  height: 100vh;
  .m-home-menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: $white;
    display: flex;
    align-items: center;
    padding: 10px;
    height: 60px;
    z-index: 1;
    box-shadow: $box_shadow_black_1;
    border-bottom: 1px solid $gray_line;
    .add-file {
      position: relative;
      display: inline-block;
      overflow: hidden;
      z-index: 1;
      .add-view {
        display: flex;
        align-items: center;
        .add-icon {
          width: 20px;
          height: 20px;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: $white;
          border-radius: 10px;
          color: $orange;
          margin-right: 8px;
        }
      }
    }
    .add-file input{
      position: absolute;
      right: 0px;
      top: 0px;
      opacity: 0;
      -ms-filter: 'alpha(opacity=0)';
      font-size: 200px;
    }
  }
  .m-books {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    padding-top: 80px;
    .book-item {
      position: relative;
      width: 160px;
      height: 240px;
      margin-bottom: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      .i-name {
        height: 40px;
        line-height: 40px;
      }
      .i-author {
        height: 40px;
        line-height: 40px;
      }
      .manager-check {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $white50;
        display: flex;
        justify-content: center;
        align-items: center;
        .check-icon {
          font-size: 40px;
          color: $gray2;
        }
        .check-icon-active {
          color: $red1;
        }
      }
    }
  }
}

.pop-bg-color {
  display: flex;
  .bg-color-item {
    width: 28px;
    height: 28px;
    border-radius: 20px;
    margin-right: 10px;
    box-shadow: $box_shadow_black_1;
  }
  .bg-color-item:last-child {
    margin-right: 0;
  }
}
