.g-home {
  width: 100vw;
  height: 100vh;
  .m-books {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    .book-item {
      width: 160px;
      height: 240px;
      margin-bottom: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      .i-name {
        height: 40px;
        line-height: 40px;
      }
      .i-author {
        height: 40px;
        line-height: 40px;
      }
    }
  }
}
